# Importações

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Carregando os dados

## Business.json

In [2]:
schema = {
    "business_id": object,
    "name": object,
    "address": object,
    "city": object,
    "state": object,
    "postal_code": object,
    "latitude": np.float32,
    "longitude": np.float32,
    "stars": np.float32,
    "review_count": np.uint16,
    "is_open": np.uint8,
    "attributes": object,
    "categories": object,
    "hours": object
}

In [3]:
# business.json

df_business = pd.read_json("../data/yelp_dataset/yelp_academic_dataset_business.json", lines=True, dtype=schema)

In [4]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float32
 7   longitude     150346 non-null  float32
 8   stars         150346 non-null  float32
 9   review_count  150346 non-null  uint16
 10  is_open       150346 non-null  uint8
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float32(3), object(9), uint16(1), uint8(1)
memory usage: 12.5+ MB

In [5]:
df_business.to_parquet("../data/yelp_dataset/yelp_academic_dataset_business.parquet")

## Checkin.json

In [2]:
schema = {
    "business_id": object,
    "date": object
}

In [3]:
df_checkin = pd.read_json("../data/yelp_dataset/yelp_academic_dataset_checkin.json", lines=True)

In [4]:
df_checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

In [7]:
df_checkin.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [5]:
df_checkin.to_parquet("../data/yelp_dataset/yelp_academic_dataset_checkin.parquet")

## Review.json

In [2]:
schema = {
    "review_id": object,
    "user_id": object,
    "business_id": object,
    "stars": np.uint8,
    "useful": np.uint32,
    "funny": np.uint32,
    "cool": np.uint32,
    "text": object,
    "date": object
}

In [7]:
value = 0
for chunk in pd.read_json("../data/yelp_dataset/yelp_academic_dataset_review.json", lines=True, dtype=schema, chunksize=3500000):
    chunk.to_parquet(f"../data/yelp_dataset/yelp_academic_dataset_review_{value}.parquet")
    value += 1

In [ ]:
df_review.info()

In [1]:
df_review.head()

NameError: name 'df_review' is not defined

## Tip.json

In [2]:
schema = {
    "text": object,
    "date": object,
    "compliment_count": np.uint32,
    "business_id": object,
    "user_id": object
}

In [3]:
df_tip = pd.read_json("../data/yelp_dataset/yelp_academic_dataset_tip.json", lines=True, dtype=schema)

In [4]:
df_tip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  object
 4   compliment_count  908915 non-null  uint32
dtypes: object(4), uint32(1)
memory usage: 31.2+ MB

In [5]:
df_tip.to_parquet("../data/yelp_dataset/yelp_academic_dataset_tip.parquet")

In [6]:
df_tip.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

## User.json

In [2]:
schema = {
    "user_id": object,
    "name": object,
    "review_count": np.uint32,
    "yelping_since": object,
    "useful": np.uint32,
    "funny": np.uint32,
    "cool": np.uint32,
    "elite": object,
    "friends": object,
    "fans": np.uint32,
    "average_stars": np.float32,
    "compliment_hot": np.uint32,
    "compliment_more": np.uint32,
    "compliment_profile": np.uint32,
    "compliment_cute": np.uint32,
    "compliment_list": np.uint32,
    "compliment_note": np.uint32,
    "compliment_plain": np.uint32,
    "compliment_cool": np.uint32,
    "compliment_funny": np.uint32,
    "compliment_writer": np.uint32,
    "compliment_photos": np.uint32
}

In [4]:
value = 0
for chunk in pd.read_json("../data/yelp_dataset/yelp_academic_dataset_user.json", lines=True, dtype=schema, chunksize=1000000):
    chunk.to_parquet(f"../data/yelp_dataset/yelp_academic_dataset_user_{value}.parquet")
    value += 1

# EDA de fato