In [1]:
import pandas as pd

# Abordagem 2

In [5]:
# carregando eval_df
eval_df = pd.read_csv('/content/eval_users.csv')

In [7]:
eval_df

,user_id,user_perfil,gt_reclist,reclist
0,-1BSu2dt_rOAqllw9ZDXtA,5XsC0tB8chKjTIW7mU6TnQ,"['5XsC0tB8chKjTIW7mU6TnQ', 'wn4U347OALm5H0MOBR...","['XTIc2pKNdmmvX60lIHV0OQ', 'GyvtAyCurqFGovXp-t..."
1,-6DoXmdXEy_P5N-QZzntgA,Ifw5wqcChnL4zBigtR7NKA,"['Ifw5wqcChnL4zBigtR7NKA', 'v1GCQz7ZsntWI-GlGP...","['QB0NhiW--2rje9Fr1ek2eA', 'o4IiNbNybcy-L4vzTS..."
2,-8NOuak4Sipn7-zy7Nk5hg,OKPUO8zvBBL-OA6-SfDx8Q,"['OKPUO8zvBBL-OA6-SfDx8Q', 'OHplb2m_dKPXY46mS0...","['M6yUUIE8-incodeeJrMpVQ', 'fw6PlWy2ghCzuUH24p..."
3,-8rSnT5ztVk6vmTDkxTqsQ,VSjoo6kJ9MU4G0cfO_-CRA,"['VSjoo6kJ9MU4G0cfO_-CRA', 'DH-vk-XzWMT9rRLcbB...","['3zK9LTY3TgH7nU18-dnXtA', 'DH-vk-XzWMT9rRLcbB..."
4,-C7xxeVQI5qEZGAzFdx-cg,rXqlpCH6z9rSFNCL76FfLw,"['rXqlpCH6z9rSFNCL76FfLw', 'WY_dcOTyRA-AgksCXi...","['6aDmYbqNKeWn9tynvFQa-w', 'nMHM74eFQuJyS_a7EV..."
...,...,...,...,...
995,zdeAS4Yh46V-S67TigjPJQ,7mpYTDb24SywNMRn3yeakQ,"['7mpYTDb24SywNMRn3yeakQ', 'sqkFTos0GDwLY6WWQ0...","['FqNpVym5Xy8CSv-9YXu75Q', 'w7sn5HKh0p22jKf8k-..."
996,zhUTH2SS4ZBK4VOPBCn7sQ,pSmOH4a3HNNpYM82J5ycLA,"['pSmOH4a3HNNpYM82J5ycLA', 'G2okUNH-Jeks8hqJvS...","['cp7sxmJlkObOPgO8PbgXKw', 'El1_Myk6dJ2JSapIsO..."
997,zjkNgwEDnJPTm2w4Y_-M1Q,t5Ca7rn3NsjfZcpfbhRZKA,"['t5Ca7rn3NsjfZcpfbhRZKA', 'AhVvuzwWQU__CligbY...","['Yp8gbMuCXIWJWoRvkOJcGA', '0OV1nx9jjglD7R-OIx..."
998,zkNe_FrJ_DGcsZLK1x___Q,2wvN4OxbXvQIohAZVKSEWw,"['2wvN4OxbXvQIohAZVKSEWw', 'oVfTDLW0bg4VMXlSI-...","['uv5b6lgBHXIwtCjJ_c-Yvg', 'xpXRXAqO7dp3A4uuhi..."
999,zx2NkJtfSvJhid6rxvYMlg,vA5MHe9LqNQcp8k_CaFkHg,"['vA5MHe9LqNQcp8k_CaFkHg', 'ozCkVIIAhNldop4MMn...","['s7xAR7fFHh2a28E62B7tVQ', 'ozCkVIIAhNldop4MMn..."

In [8]:
#carregando df_review
df_review = pd.read_parquet('/content/drive/MyDrive/yelp_academic_dataset_review.parquet')

In [9]:
#carregando df_user
df_user = pd.read_parquet('/content/drive/MyDrive/yelp_academic_dataset_user.parquet')

In [10]:
# verificando os business que aparecem em eval
business_ = eval_df['reclist'].apply(lambda x: x.replace("[", "").replace("]", "").split(',')).explode().unique()
business_ = pd.Series(business_).apply(lambda x: x.replace("'", "").replace(" ","")).unique()

In [11]:
business_

array(['XTIc2pKNdmmvX60lIHV0OQ', 'GyvtAyCurqFGovXp-tAgsQ',
       'Y9dp3akgjqHMOGjDEHSBSw', ..., 'kYdYcTZMW2_GIuUug0Npjw',
       'UdcLHHBRIxtelgbKBnhitA', 'Bj4BJZjlZ8Zl_f9nonpwjQ'], dtype=object)

In [12]:
df_review

,user_id,business_id,stars,useful,funny,cool,text
0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,1,1,1,"If you decide to eat here, just be aware it is..."
1,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,1,1,I've taken a lot of spin classes over the year...
2,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,1,1,1,Family diner. Had the buffet. Eclectic assortm...
3,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,1,1,"Wow! Yummy, different, delicious. Our favo..."
4,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,1,1,Cute interior and owner (?) gave us tour of up...
...,...,...,...,...,...,...,...
6990275,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5,1,1,1,Latest addition to services from ICCU is Apple...
6990276,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5,1,1,1,"This spot offers a great, affordable east week..."
6990277,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4,1,1,1,This Home Depot won me over when I needed to g...
6990278,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5,1,1,1,For when I'm feeling like ignoring my calorie-...
6990279,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,2,1,2,Located in the 'Walking District' in Nashville...

In [13]:
df_review = df_review [df_review ['business_id'].isin(business_)]

In [14]:
df_review

,user_id,business_id,stars,useful,funny,cool,text
6,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5,1,1,1,Loved this tour! I grabbed a groupon and the p...
7,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5,1,1,1,Amazingly amazing wings and homemade bleu chee...
8,wSTuiTk-sKNdcFyprzZAjg,B5XSoSG3SfvQGtKEGQ1tSQ,3,1,1,1,This easter instead of going to Lopez Lake we ...
13,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,1,1,1,Good food--loved the gnocchi with marinara\nth...
20,Ohhrhu1RkqfVciIVx_W5HQ,nRKndeZLQ3eDL10UMwS2rQ,5,1,2,1,HOLY SMOKES!\n\nactual pumpkin pie mixed in wi...
...,...,...,...,...,...,...,...
6990256,99_EbpwCcCRAa66YgorrKA,3MZ6DYP7EANJmP4UOW3PAw,1,1,1,1,The worst. Wish I had read all the other revie...
6990258,QYZM8lgZn2HL_OWYAn7E1A,nrXtCSdfWg0TJ86onEZWkg,4,1,1,1,Took a colleague here for dinner as we were tr...
6990260,am7-gkH_PDz598oTdYSD6A,3gVSrS4kffGGZT8oXHsIcw,3,1,1,1,"*Later Yelp* I've only been here once, but I l..."
6990265,7ziWZULyiZv2TesYNMFf4g,qQO7ErS_RAN4Vs1uX0L55Q,4,1,1,1,"ice cream! ice cream sodas, sundaes!! \n\nwant..."
6990279,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,2,1,2,Located in the 'Walking District' in Nashville...

In [15]:
df_review = df_review.groupby('business_id').agg({'user_id': lambda x: [i for i in x], 'stars': lambda x: [i for i in x]})

In [16]:
df_review

,user_id,stars
business_id,,
--onnLZrsCazmcy2P_7fcw,"[KpqzABNihVy5lLtX6PXfEQ, 61x46vYyVf5vb64lExD2b...","[5, 1, 4, 3, 1, 4, 3]"
--x_BmZbxzK_nx_GHBaRVw,"[AwwyPAfZLuoq62p03gDPNA, gnTquanCmNEDLgaSi3B26...","[4, 5, 3, 4, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 4, ..."
-0EdehHjIQc0DtYU8QcAig,"[tJRsHAQUiewvv420lYnJeg, onBtzYEboBIBFKjvVHF15...","[1, 4, 4, 2, 1, 3, 3, 5, 1, 3, 5, 5, 5, 5, 4, ..."
-0fOUV_llBAPMo7exZFHPA,"[GpS8XJnJLRM-O6Mx1DZUkA, ycLfawmWpOQoGbGTsKvOv...","[5, 5, 5, 1, 5, 5]"
-0gWtMKg8_iV6vC5wRFDiA,"[0E-IU4qDXps1MHQhNZx6vA, amS7pSWPWHHs6MhiIT2YB...","[3, 4, 3, 3, 4, 4, 4, 5, 1, 3, 5, 1, 1, 4]"
...,...,...
zyrhpLocbo60EbS57jBTLw,"[0Igx-a1wAstiBDerGxXk2A, RDAhREQWbNLbuO71lK41K...","[4, 1, 4, 1, 4, 4, 2, 5, 4, 4, 1, 4, 2, 5, 4, ..."
zz07slKrNwzX_1uiF8QL6g,"[9WtMswZkXgPP-ak_68uj_w, LztR77cNEmdgUCwPpkp6M...","[1, 4, 1, 1, 1, 1, 1, 2, 1, 1]"
zz0l4dUf28wzPAaTdGqsSw,"[y1d-b-DIFSv7tLFM1X1z_w, rAgCPqxaQKgd7XQVhePBe...","[5, 4, 4, 4, 5, 5, 5, 5, 1, 5, 5, 4, 5, 5, 5, ..."
zzQWjZ_1Dr7kkDYlk17qRw,"[OUS4LDOuNudHuY57QdGGGw, yc0qNMY2YUWaESUp3h91d...","[1, 1, 4, 1, 1, 3, 4, 3, 5, 2, 2, 4, 4, 1, 4]"
zzbZtgPYZS8sTIWQH6DwEw,"[I4BbW4a19h2IItNOoToDgA, 3tOmTPbCmECyKkzjoPtnv...","[4, 1, 1, 2, 5, 3, 3, 5, 3, 5, 5, 2, 3, 2, 1, ..."

In [17]:
import numpy as np

In [18]:
# criando uma função que recebe uma lista e retorna os índices dos 5 maiores
def get_best_worst_indices(lista):
    # Converte a lista para um array NumPy
    arr = np.array(lista)

    if arr.shape[0] < 10:
        # Obtém os índices dos N maiores valores usando argsort
        indices_n_maiores = np.argsort(-arr)[:2]
        
    else:
        # Obtém os índices dos N maiores valores usando argsort
        indices_n_maiores = np.argsort(-arr)[:5]
       
    return indices_n_maiores.tolist()

In [19]:
# aplicando na coluna stars
df_review['stars'] = df_review.stars.apply(get_best_worst_indices)

In [20]:
# filtrando a coluna user_id para pegar apenas as reviews que estão nos indices de stars
df_review['users_embs'] = df_review.apply(lambda x: [x['user_id'][i] for i in x['stars']],axis=1)

In [21]:
df_review

,user_id,stars,users_embs
business_id,,,
--onnLZrsCazmcy2P_7fcw,"[KpqzABNihVy5lLtX6PXfEQ, 61x46vYyVf5vb64lExD2b...","[0, 2]","[KpqzABNihVy5lLtX6PXfEQ, lvsQfIx3LzlbxW0FVzmEKg]"
--x_BmZbxzK_nx_GHBaRVw,"[AwwyPAfZLuoq62p03gDPNA, gnTquanCmNEDLgaSi3B26...","[22, 15, 18, 13, 12]","[YrlNGnrofZHseVYxrLrvJA, jdCgeInlFHnQ2DhQlRINd..."
-0EdehHjIQc0DtYU8QcAig,"[tJRsHAQUiewvv420lYnJeg, onBtzYEboBIBFKjvVHF15...","[17, 21, 18, 13, 12]","[3viTApQwBqnuOhQLJvfYSw, OD6BC1vXtnTra-2oo92HB..."
-0fOUV_llBAPMo7exZFHPA,"[GpS8XJnJLRM-O6Mx1DZUkA, ycLfawmWpOQoGbGTsKvOv...","[0, 1]","[GpS8XJnJLRM-O6Mx1DZUkA, ycLfawmWpOQoGbGTsKvOvA]"
-0gWtMKg8_iV6vC5wRFDiA,"[0E-IU4qDXps1MHQhNZx6vA, amS7pSWPWHHs6MhiIT2YB...","[7, 10, 1, 4, 5]","[aq7IDp3cXKmq0NMcGBWbfg, hVzBH-uHWXAhH3jZj7D7i..."
...,...,...,...
zyrhpLocbo60EbS57jBTLw,"[0Igx-a1wAstiBDerGxXk2A, RDAhREQWbNLbuO71lK41K...","[13, 25, 22, 21, 20]","[C7a-DnK1EIvpBUkPNapagA, -ajqjNKLQUtthACttISgv..."
zz07slKrNwzX_1uiF8QL6g,"[9WtMswZkXgPP-ak_68uj_w, LztR77cNEmdgUCwPpkp6M...","[1, 7, 0, 2, 3]","[LztR77cNEmdgUCwPpkp6MA, n-iTQUXN2Y-meUP_YrXGT..."
zz0l4dUf28wzPAaTdGqsSw,"[y1d-b-DIFSv7tLFM1X1z_w, rAgCPqxaQKgd7XQVhePBe...","[0, 103, 106, 107, 108]","[y1d-b-DIFSv7tLFM1X1z_w, unof6gSLKeSYDALVG7fm8..."
zzQWjZ_1Dr7kkDYlk17qRw,"[OUS4LDOuNudHuY57QdGGGw, yc0qNMY2YUWaESUp3h91d...","[8, 2, 6, 11, 12]","[sO-xgm8WOQGBD-_Ppm7USw, oFFL4erg_K-InCQYpNVma..."
zzbZtgPYZS8sTIWQH6DwEw,"[I4BbW4a19h2IItNOoToDgA, 3tOmTPbCmECyKkzjoPtnv...","[43, 24, 23, 22, 38]","[283VIcpBU82LK-yratnREA, ULdRbIp3aLxNiVVeEn69Y..."

In [22]:
df_user

,user_id,review_count,useful,funny,cool,fans,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,account_age,chato
0,qVc8ODYU5SZjKXVBgXdI7w,6.376248,8.884571,7.140230,8.698968,5.597378,5.532275,4.215356,4.055574,4.072751,3.031017,5.458386,6.741368,6.152133,6.152133,5.487773,5.207945,5864,0.992327
1,j14WgRoU_-2ZE1aw1dXrJg,8.374642,10.671132,9.477977,10.214046,8.052207,7.045531,5.586193,5.229601,5.073411,5.536224,7.522789,8.861735,8.049975,8.049975,7.328909,7.574927,5133,1.037433
2,2WnXYQFK0hXEoTxPtV2zvg,6.503866,7.644306,6.920393,6.913457,4.002198,4.518722,2.754824,2.543041,2.981546,1.743668,4.230015,4.592270,4.801709,4.801709,3.630145,3.031017,5317,1.168675
3,SZDeASXq7o05mMNLshsdIA,5.423708,6.243620,5.807296,5.709494,3.424858,3.285348,1.904832,1.313262,2.165422,1.551445,2.689090,2.929501,3.357534,3.357534,2.543041,2.461150,6286,0.908665
4,hA5lMy-EnncsH4JoR-hFGQ,4.403278,3.456893,2.874597,2.274009,1.313262,1.313262,1.313262,1.000000,1.000000,1.000000,1.313262,1.313262,1.000000,1.000000,1.000000,1.000000,5884,1.096045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,3.247202,2.274009,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2962,0.788618
1987893,68czcr4BxJyMQ9cJBm6C7Q,1.313262,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2436,0.776000
1987894,1x3KMskYxOuJCjRz70xOqQ,1.904832,1.313262,1.313262,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2201,1.940000
1987895,ulfGl4tdbrH05xKzh5lnog,1.551445,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4415,1.293333
1987896,wL5jPrLRVCK_Pmo4lM1zpA,1.551445,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,787,0.776000

In [25]:
user_embeddings_dict = df_user.iloc[:, 2:].to_numpy().tolist()
user_embeddings_dict = {index: embedding for index, embedding in enumerate(user_embeddings_dict)}
df_user = df_user.set_index('user_id')

def get_user_embeddings(user_ids):
    embeddings = [user_embeddings_dict[user_id] for user_id in user_ids if user_id in user_embeddings_dict]
    if len(embeddings) == 0:
        return None
    return np.mean(embeddings, axis=0)

df_review['user_embeddings'] = df_review['users_embs'].apply(get_user_embeddings)

In [26]:
df_review

,user_id,stars,users_embs,user_embeddings
business_id,,,,
--onnLZrsCazmcy2P_7fcw,"[KpqzABNihVy5lLtX6PXfEQ, 61x46vYyVf5vb64lExD2b...","[0, 2]","[KpqzABNihVy5lLtX6PXfEQ, lvsQfIx3LzlbxW0FVzmEKg]",None
--x_BmZbxzK_nx_GHBaRVw,"[AwwyPAfZLuoq62p03gDPNA, gnTquanCmNEDLgaSi3B26...","[22, 15, 18, 13, 12]","[YrlNGnrofZHseVYxrLrvJA, jdCgeInlFHnQ2DhQlRINd...",None
-0EdehHjIQc0DtYU8QcAig,"[tJRsHAQUiewvv420lYnJeg, onBtzYEboBIBFKjvVHF15...","[17, 21, 18, 13, 12]","[3viTApQwBqnuOhQLJvfYSw, OD6BC1vXtnTra-2oo92HB...",None
-0fOUV_llBAPMo7exZFHPA,"[GpS8XJnJLRM-O6Mx1DZUkA, ycLfawmWpOQoGbGTsKvOv...","[0, 1]","[GpS8XJnJLRM-O6Mx1DZUkA, ycLfawmWpOQoGbGTsKvOvA]",None
-0gWtMKg8_iV6vC5wRFDiA,"[0E-IU4qDXps1MHQhNZx6vA, amS7pSWPWHHs6MhiIT2YB...","[7, 10, 1, 4, 5]","[aq7IDp3cXKmq0NMcGBWbfg, hVzBH-uHWXAhH3jZj7D7i...",None
...,...,...,...,...
zyrhpLocbo60EbS57jBTLw,"[0Igx-a1wAstiBDerGxXk2A, RDAhREQWbNLbuO71lK41K...","[13, 25, 22, 21, 20]","[C7a-DnK1EIvpBUkPNapagA, -ajqjNKLQUtthACttISgv...",None
zz07slKrNwzX_1uiF8QL6g,"[9WtMswZkXgPP-ak_68uj_w, LztR77cNEmdgUCwPpkp6M...","[1, 7, 0, 2, 3]","[LztR77cNEmdgUCwPpkp6MA, n-iTQUXN2Y-meUP_YrXGT...",None
zz0l4dUf28wzPAaTdGqsSw,"[y1d-b-DIFSv7tLFM1X1z_w, rAgCPqxaQKgd7XQVhePBe...","[0, 103, 106, 107, 108]","[y1d-b-DIFSv7tLFM1X1z_w, unof6gSLKeSYDALVG7fm8...",None
zzQWjZ_1Dr7kkDYlk17qRw,"[OUS4LDOuNudHuY57QdGGGw, yc0qNMY2YUWaESUp3h91d...","[8, 2, 6, 11, 12]","[sO-xgm8WOQGBD-_Ppm7USw, oFFL4erg_K-InCQYpNVma...",None
zzbZtgPYZS8sTIWQH6DwEw,"[I4BbW4a19h2IItNOoToDgA, 3tOmTPbCmECyKkzjoPtnv...","[43, 24, 23, 22, 38]","[283VIcpBU82LK-yratnREA, ULdRbIp3aLxNiVVeEn69Y...",None

In [28]:
# Crie um dicionário com os embeddings dos usuários
user_embeddings_dict = {}
for index, row in df_user.iterrows():
    user_embeddings_dict[index] = row.iloc[0:].to_numpy()

# Defina uma função que calcula a média dos embeddings dos usuários
def get_user_embeddings(user_ids):
    embeddings = [user_embeddings_dict[user_id] for user_id in user_ids if user_id in user_embeddings_dict]
    if len(embeddings) == 0:
        return None
    return np.mean(embeddings, axis=0)

# Crie uma nova coluna no dataframe de reviews com os embeddings dos usuários
df_review['user_embeddings'] = df_review['users_embs'].apply(get_user_embeddings)

In [29]:
df_review

,user_id,stars,users_embs,user_embeddings
business_id,,,,
--onnLZrsCazmcy2P_7fcw,"[KpqzABNihVy5lLtX6PXfEQ, 61x46vYyVf5vb64lExD2b...","[0, 2]","[KpqzABNihVy5lLtX6PXfEQ, lvsQfIx3LzlbxW0FVzmEKg]","[5.494843244552612, 5.9034247398376465, 4.9828..."
--x_BmZbxzK_nx_GHBaRVw,"[AwwyPAfZLuoq62p03gDPNA, gnTquanCmNEDLgaSi3B26...","[22, 15, 18, 13, 12]","[YrlNGnrofZHseVYxrLrvJA, jdCgeInlFHnQ2DhQlRINd...","[4.435993337631226, 4.348855876922608, 3.68807..."
-0EdehHjIQc0DtYU8QcAig,"[tJRsHAQUiewvv420lYnJeg, onBtzYEboBIBFKjvVHF15...","[17, 21, 18, 13, 12]","[3viTApQwBqnuOhQLJvfYSw, OD6BC1vXtnTra-2oo92HB...","[2.7280593633651735, 2.887662434577942, 1.4550..."
-0fOUV_llBAPMo7exZFHPA,"[GpS8XJnJLRM-O6Mx1DZUkA, ycLfawmWpOQoGbGTsKvOv...","[0, 1]","[GpS8XJnJLRM-O6Mx1DZUkA, ycLfawmWpOQoGbGTsKvOvA]","[3.2525815963745117, 3.061083734035492, 1.9082..."
-0gWtMKg8_iV6vC5wRFDiA,"[0E-IU4qDXps1MHQhNZx6vA, amS7pSWPWHHs6MhiIT2YB...","[7, 10, 1, 4, 5]","[aq7IDp3cXKmq0NMcGBWbfg, hVzBH-uHWXAhH3jZj7D7i...","[2.9798367500305174, 2.2399333715438843, 1.384..."
...,...,...,...,...
zyrhpLocbo60EbS57jBTLw,"[0Igx-a1wAstiBDerGxXk2A, RDAhREQWbNLbuO71lK41K...","[13, 25, 22, 21, 20]","[C7a-DnK1EIvpBUkPNapagA, -ajqjNKLQUtthACttISgv...","[3.028983497619629, 2.44912428855896, 1.976438..."
zz07slKrNwzX_1uiF8QL6g,"[9WtMswZkXgPP-ak_68uj_w, LztR77cNEmdgUCwPpkp6M...","[1, 7, 0, 2, 3]","[LztR77cNEmdgUCwPpkp6MA, n-iTQUXN2Y-meUP_YrXGT...","[3.5806991338729857, 3.3258294105529784, 1.842..."
zz0l4dUf28wzPAaTdGqsSw,"[y1d-b-DIFSv7tLFM1X1z_w, rAgCPqxaQKgd7XQVhePBe...","[0, 103, 106, 107, 108]","[y1d-b-DIFSv7tLFM1X1z_w, unof6gSLKeSYDALVG7fm8...","[2.716435980796814, 2.1899059772491456, 1.4469..."
zzQWjZ_1Dr7kkDYlk17qRw,"[OUS4LDOuNudHuY57QdGGGw, yc0qNMY2YUWaESUp3h91d...","[8, 2, 6, 11, 12]","[sO-xgm8WOQGBD-_Ppm7USw, oFFL4erg_K-InCQYpNVma...","[3.34793701171875, 3.0982537984848024, 1.88180..."
zzbZtgPYZS8sTIWQH6DwEw,"[I4BbW4a19h2IItNOoToDgA, 3tOmTPbCmECyKkzjoPtnv...","[43, 24, 23, 22, 38]","[283VIcpBU82LK-yratnREA, ULdRbIp3aLxNiVVeEn69Y...","[3.690792179107666, 4.007173728942871, 3.26424..."

In [30]:
# Crie um dicionário com os embeddings dos usuários
user_embeddings_dict = {}
for index, row in df_user.iterrows():
    user_embeddings_dict[index] = row.iloc[0:].to_numpy()

# Defina uma função que calcula a média dos embeddings dos usuários
def get_user_embeddings(user_ids):
    embeddings = []
    for user_id in user_ids:
        if user_id in user_embeddings_dict:
            embeddings.append(user_embeddings_dict[user_id])
    if len(embeddings) == 0:
        return None
    if len(embeddings) == 1:
        return embeddings[0]
    return np.mean(embeddings, axis=0)

# Crie uma nova coluna no dataframe de reviews com os embeddings dos usuários
df_review['user_embeddings'] = df_review['users_embs'].apply(get_user_embeddings)

In [31]:
df_review

,user_id,stars,users_embs,user_embeddings
business_id,,,,
--onnLZrsCazmcy2P_7fcw,"[KpqzABNihVy5lLtX6PXfEQ, 61x46vYyVf5vb64lExD2b...","[0, 2]","[KpqzABNihVy5lLtX6PXfEQ, lvsQfIx3LzlbxW0FVzmEKg]","[5.494843244552612, 5.9034247398376465, 4.9828..."
--x_BmZbxzK_nx_GHBaRVw,"[AwwyPAfZLuoq62p03gDPNA, gnTquanCmNEDLgaSi3B26...","[22, 15, 18, 13, 12]","[YrlNGnrofZHseVYxrLrvJA, jdCgeInlFHnQ2DhQlRINd...","[4.435993337631226, 4.348855876922608, 3.68807..."
-0EdehHjIQc0DtYU8QcAig,"[tJRsHAQUiewvv420lYnJeg, onBtzYEboBIBFKjvVHF15...","[17, 21, 18, 13, 12]","[3viTApQwBqnuOhQLJvfYSw, OD6BC1vXtnTra-2oo92HB...","[2.7280593633651735, 2.887662434577942, 1.4550..."
-0fOUV_llBAPMo7exZFHPA,"[GpS8XJnJLRM-O6Mx1DZUkA, ycLfawmWpOQoGbGTsKvOv...","[0, 1]","[GpS8XJnJLRM-O6Mx1DZUkA, ycLfawmWpOQoGbGTsKvOvA]","[3.2525815963745117, 3.061083734035492, 1.9082..."
-0gWtMKg8_iV6vC5wRFDiA,"[0E-IU4qDXps1MHQhNZx6vA, amS7pSWPWHHs6MhiIT2YB...","[7, 10, 1, 4, 5]","[aq7IDp3cXKmq0NMcGBWbfg, hVzBH-uHWXAhH3jZj7D7i...","[2.9798367500305174, 2.2399333715438843, 1.384..."
...,...,...,...,...
zyrhpLocbo60EbS57jBTLw,"[0Igx-a1wAstiBDerGxXk2A, RDAhREQWbNLbuO71lK41K...","[13, 25, 22, 21, 20]","[C7a-DnK1EIvpBUkPNapagA, -ajqjNKLQUtthACttISgv...","[3.028983497619629, 2.44912428855896, 1.976438..."
zz07slKrNwzX_1uiF8QL6g,"[9WtMswZkXgPP-ak_68uj_w, LztR77cNEmdgUCwPpkp6M...","[1, 7, 0, 2, 3]","[LztR77cNEmdgUCwPpkp6MA, n-iTQUXN2Y-meUP_YrXGT...","[3.5806991338729857, 3.3258294105529784, 1.842..."
zz0l4dUf28wzPAaTdGqsSw,"[y1d-b-DIFSv7tLFM1X1z_w, rAgCPqxaQKgd7XQVhePBe...","[0, 103, 106, 107, 108]","[y1d-b-DIFSv7tLFM1X1z_w, unof6gSLKeSYDALVG7fm8...","[2.716435980796814, 2.1899059772491456, 1.4469..."
zzQWjZ_1Dr7kkDYlk17qRw,"[OUS4LDOuNudHuY57QdGGGw, yc0qNMY2YUWaESUp3h91d...","[8, 2, 6, 11, 12]","[sO-xgm8WOQGBD-_Ppm7USw, oFFL4erg_K-InCQYpNVma...","[3.34793701171875, 3.0982537984848024, 1.88180..."
zzbZtgPYZS8sTIWQH6DwEw,"[I4BbW4a19h2IItNOoToDgA, 3tOmTPbCmECyKkzjoPtnv...","[43, 24, 23, 22, 38]","[283VIcpBU82LK-yratnREA, ULdRbIp3aLxNiVVeEn69Y...","[3.690792179107666, 4.007173728942871, 3.26424..."

In [32]:
# Crie um dicionário com os embeddings dos usuários
user_embeddings_dict = {}
for index, row in df_user.iterrows():
    user_embeddings_dict[index] = row.iloc[0:].to_numpy()

# Defina uma função que retorna os embeddings dos usuários
def get_user_embeddings(user_ids):
    embeddings = []
    for user_id in user_ids:
        if user_id in user_embeddings_dict:
            embeddings.append(user_embeddings_dict[user_id])
    return embeddings

# Crie uma nova coluna no dataframe de reviews com os embeddings dos usuários
df_review['user_embeddings'] = df_review['users_embs'].apply(get_user_embeddings)

In [33]:
df_review

,user_id,stars,users_embs,user_embeddings
business_id,,,,
--onnLZrsCazmcy2P_7fcw,"[KpqzABNihVy5lLtX6PXfEQ, 61x46vYyVf5vb64lExD2b...","[0, 2]","[KpqzABNihVy5lLtX6PXfEQ, lvsQfIx3LzlbxW0FVzmEKg]","[[5.286843299865723, 5.350522041320801, 3.9649..."
--x_BmZbxzK_nx_GHBaRVw,"[AwwyPAfZLuoq62p03gDPNA, gnTquanCmNEDLgaSi3B26...","[22, 15, 18, 13, 12]","[YrlNGnrofZHseVYxrLrvJA, jdCgeInlFHnQ2DhQlRINd...","[[6.832727909088135, 7.945809841156006, 6.3659..."
-0EdehHjIQc0DtYU8QcAig,"[tJRsHAQUiewvv420lYnJeg, onBtzYEboBIBFKjvVHF15...","[17, 21, 18, 13, 12]","[3viTApQwBqnuOhQLJvfYSw, OD6BC1vXtnTra-2oo92HB...","[[1.5514447689056396, 1.31326162815094, 1.0, 1..."
-0fOUV_llBAPMo7exZFHPA,"[GpS8XJnJLRM-O6Mx1DZUkA, ycLfawmWpOQoGbGTsKvOv...","[0, 1]","[GpS8XJnJLRM-O6Mx1DZUkA, ycLfawmWpOQoGbGTsKvOvA]","[[3.575662612915039, 4.3784990310668945, 2.816..."
-0gWtMKg8_iV6vC5wRFDiA,"[0E-IU4qDXps1MHQhNZx6vA, amS7pSWPWHHs6MhiIT2YB...","[7, 10, 1, 4, 5]","[aq7IDp3cXKmq0NMcGBWbfg, hVzBH-uHWXAhH3jZj7D7i...","[[2.165422201156616, 1.7436684370040894, 1.313..."
...,...,...,...,...
zyrhpLocbo60EbS57jBTLw,"[0Igx-a1wAstiBDerGxXk2A, RDAhREQWbNLbuO71lK41K...","[13, 25, 22, 21, 20]","[C7a-DnK1EIvpBUkPNapagA, -ajqjNKLQUtthACttISgv...","[[1.7436684370040894, 1.31326162815094, 1.3132..."
zz07slKrNwzX_1uiF8QL6g,"[9WtMswZkXgPP-ak_68uj_w, LztR77cNEmdgUCwPpkp6M...","[1, 7, 0, 2, 3]","[LztR77cNEmdgUCwPpkp6MA, n-iTQUXN2Y-meUP_YrXGT...","[[2.61872935295105, 1.31326162815094, 1.0, 1.0..."
zz0l4dUf28wzPAaTdGqsSw,"[y1d-b-DIFSv7tLFM1X1z_w, rAgCPqxaQKgd7XQVhePBe...","[0, 103, 106, 107, 108]","[y1d-b-DIFSv7tLFM1X1z_w, unof6gSLKeSYDALVG7fm8...","[[3.1231698989868164, 2.6890904903411865, 1.55..."
zzQWjZ_1Dr7kkDYlk17qRw,"[OUS4LDOuNudHuY57QdGGGw, yc0qNMY2YUWaESUp3h91d...","[8, 2, 6, 11, 12]","[sO-xgm8WOQGBD-_Ppm7USw, oFFL4erg_K-InCQYpNVma...","[[1.5514447689056396, 1.0, 1.0, 1.0, 1.0, 1.0,..."
zzbZtgPYZS8sTIWQH6DwEw,"[I4BbW4a19h2IItNOoToDgA, 3tOmTPbCmECyKkzjoPtnv...","[43, 24, 23, 22, 38]","[283VIcpBU82LK-yratnREA, ULdRbIp3aLxNiVVeEn69Y...","[[2.5430405139923096, 3.822498321533203, 2.543..."

In [34]:
df_review['user_embeddings'][0]

[array([5.28684330e+00, 5.35052204e+00, 3.96496224e+00, 4.28659296e+00,
        2.27400875e+00, 1.00000000e+00, 1.74366844e+00, 1.31326163e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.90483248e+00,
        1.90483248e+00, 1.90483248e+00, 1.55144477e+00, 1.90483248e+00,
        5.38600000e+03, 9.58024681e-01]),
 array([5.70284319e+00, 6.45632744e+00, 6.00071716e+00, 5.67921066e+00,
        3.45689321e+00, 2.27400875e+00, 2.46115017e+00, 1.55144477e+00,
        2.04359174e+00, 2.37195086e+00, 3.42485809e+00, 3.60327482e+00,
        3.86531448e+00, 3.86531448e+00, 2.68909049e+00, 3.54726648e+00,
        5.48800000e+03, 1.04301083e+00])]

In [35]:
df_review['user_embeddings'][2]

[array([1.55144477e+00, 1.31326163e+00, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        2.94600000e+03, 7.76000023e-01]),
 array([1.74366844e+00, 2.16542220e+00, 1.31326163e+00, 1.31326163e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        3.32700000e+03, 1.72444451e+00]),
 array([3.57566261e+00, 3.88605428e+00, 1.90483248e+00, 3.07815433e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 1.31326163e+00, 1.00000000e+00,
        1.31326163e+00, 1.31326163e+00, 1.00000000e+00, 1.00000000e+00,
        5.04700000e+03, 1.00779223e+00]),
 array([3.16624618e+00, 3.39176250e+00, 1.31326163e+00, 3.07815433e+00,
        1.31326163e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        3.95400000e+03, 9.04428959e-01]),
 array([3.60327482e+00, 3.68181157e+00, 1.74366844e+00, 2.16542220e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.31326163e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        3.70200000e+03, 9.48655248e-01])]

In [36]:
df_review['user_embeddings'] = df_review.user_embeddings.apply(lambda x: np.mean(x,axis=0))

In [37]:
df_review.user_embeddings.apply(lambda x: np.mean(x,axis=0))

business_id
--onnLZrsCazmcy2P_7fcw    304.788470
--x_BmZbxzK_nx_GHBaRVw    209.002595
-0EdehHjIQc0DtYU8QcAig    212.099069
-0fOUV_llBAPMo7exZFHPA    219.559661
-0gWtMKg8_iV6vC5wRFDiA    165.425741
                             ...
zyrhpLocbo60EbS57jBTLw    170.318204
zz07slKrNwzX_1uiF8QL6g    165.226140
zz0l4dUf28wzPAaTdGqsSw    158.965762
zzQWjZ_1Dr7kkDYlk17qRw    109.883778
zzbZtgPYZS8sTIWQH6DwEw    249.661367
Name: user_embeddings, Length: 15416, dtype: float64

In [38]:
df_review.user_embeddings.apply(len).describe()

count    15416.0
mean        18.0
std          0.0
min         18.0
25%         18.0
50%         18.0
75%         18.0
max         18.0
Name: user_embeddings, dtype: float64

In [39]:
df_review[['user_id', 'user_embeddings', 'users_embs']].to_parquet('/content/businessEmbeddingsBaseline.parquet')

In [ ]:
df_review

,user_id,stars,users_embs,user_embeddings
business_id,,,,
--onnLZrsCazmcy2P_7fcw,"[KpqzABNihVy5lLtX6PXfEQ, 61x46vYyVf5vb64lExD2b...","[0, 2]","[KpqzABNihVy5lLtX6PXfEQ, lvsQfIx3LzlbxW0FVzmEKg]","[5.9034247398376465, 4.9828397035598755, 4.982..."
--x_BmZbxzK_nx_GHBaRVw,"[AwwyPAfZLuoq62p03gDPNA, gnTquanCmNEDLgaSi3B26...","[22, 15, 18, 13, 12]","[YrlNGnrofZHseVYxrLrvJA, jdCgeInlFHnQ2DhQlRINd...","[4.348855876922608, 3.6880786418914795, 4.0073..."
-1B9pP_CrRBJYPICE5WbRA,"[Ndl_-4PYUEr5n2deVEIx3Q, HPi2dunfsinPxHaYt6A0Q...","[425, 362, 716, 717, 357]","[0SXMpnf_FBdlA-sqmIoSMg, xDvTeGXCPSJV9Y5vVyKwm...","[2.9384389877319337, 2.1986600399017333, 1.961..."
-1MhPXk1FglglUAmuPLIGg,"[DQLU6yMeEQ2EUSAwlvgZLg, gBljc74yeCHBoABVpl93T...","[0, 34, 38, 44, 47]","[DQLU6yMeEQ2EUSAwlvgZLg, RkG5JsU070EZi-ptkODyY...","[3.27455096244812, 2.280857300758362, 2.537506..."
-1b2kNOowsPrPpBOK4lNkQ,"[cnuzlgoPZBAJaqLdJqj_Dg, Sa1GPVlNdgFsGm-yloQNR...","[0, 19, 18, 17, 16]","[cnuzlgoPZBAJaqLdJqj_Dg, 5BcHiekf8vqEka35NcoW5...","[2.602821946144104, 1.9437788248062133, 2.0531..."
...,...,...,...,...
zwrgCMuZyFX46mL3piDyjg,"[Yo12Yp1u2lQdAtyjgQKEaw, ablxV_YZcoq9UIc6w8HwI...","[0, 553, 554, 556, 557]","[Yo12Yp1u2lQdAtyjgQKEaw, Yy2vmdje3iEzMb9Ytm_GG...","[3.424676847457886, 2.003222036361694, 2.25279..."
zxx1nNXxAIYiuL0_b28Cjw,"[OriZprtD3fn9PPHIdQq6Zw, wNLxU80XjdD8qWIusHKd5...","[21, 18, 17, 4, 5]","[CM7yGQSy45IYm8-o-zEe_w, fBhb_ipZQFan3jz1-vkqI...","[1.3801064014434814, 1.062652325630188, 1.0, 1..."
zyFn7oqokhaUaPPqd2FbbA,"[liau9QAYEXFEL8lnhcwgfA, yBUmqGw2u0CAiYulUBiSW...","[21, 42, 8, 40, 11]","[-S6MWdcsItXeg9lAERDyqQ, xm-GDr4-EKCEJQbGS99UX...","[2.2831496715545656, 1.5303933143615722, 1.418..."
zyHP-oXgDkANEyQbJVKf8g,"[oM1e8Nl9F0ajMJMW5f3abw, RNIv3Ja3jks2OH581Q8KD...","[65, 74, 96, 95, 41]","[NMVURT96-Dbtq0q0ocO7ZQ, OFMMcJojP8zPKT3_8TISn...","[3.742468023300171, 2.8073259830474853, 3.2495..."
zz0l4dUf28wzPAaTdGqsSw,"[y1d-b-DIFSv7tLFM1X1z_w, rAgCPqxaQKgd7XQVhePBe...","[0, 103, 106, 107, 108]","[y1d-b-DIFSv7tLFM1X1z_w, unof6gSLKeSYDALVG7fm8...","[2.1899059772491456, 1.4469796180725099, 1.392..."

In [ ]:
eval_df

,user_id,user_perfil,gt_reclist,reclist
0,-1BSu2dt_rOAqllw9ZDXtA,5XsC0tB8chKjTIW7mU6TnQ,"['5XsC0tB8chKjTIW7mU6TnQ', 'wn4U347OALm5H0MOBR...","['XTIc2pKNdmmvX60lIHV0OQ', 'GyvtAyCurqFGovXp-t..."
1,-6DoXmdXEy_P5N-QZzntgA,Ifw5wqcChnL4zBigtR7NKA,"['Ifw5wqcChnL4zBigtR7NKA', 'v1GCQz7ZsntWI-GlGP...","['QB0NhiW--2rje9Fr1ek2eA', 'o4IiNbNybcy-L4vzTS..."
2,-8NOuak4Sipn7-zy7Nk5hg,OKPUO8zvBBL-OA6-SfDx8Q,"['OKPUO8zvBBL-OA6-SfDx8Q', 'OHplb2m_dKPXY46mS0...","['M6yUUIE8-incodeeJrMpVQ', 'fw6PlWy2ghCzuUH24p..."
3,-8rSnT5ztVk6vmTDkxTqsQ,VSjoo6kJ9MU4G0cfO_-CRA,"['VSjoo6kJ9MU4G0cfO_-CRA', 'DH-vk-XzWMT9rRLcbB...","['3zK9LTY3TgH7nU18-dnXtA', 'DH-vk-XzWMT9rRLcbB..."
4,-C7xxeVQI5qEZGAzFdx-cg,rXqlpCH6z9rSFNCL76FfLw,"['rXqlpCH6z9rSFNCL76FfLw', 'WY_dcOTyRA-AgksCXi...","['6aDmYbqNKeWn9tynvFQa-w', 'nMHM74eFQuJyS_a7EV..."
...,...,...,...,...
995,zdeAS4Yh46V-S67TigjPJQ,7mpYTDb24SywNMRn3yeakQ,"['7mpYTDb24SywNMRn3yeakQ', 'sqkFTos0GDwLY6WWQ0...","['FqNpVym5Xy8CSv-9YXu75Q', 'w7sn5HKh0p22jKf8k-..."
996,zhUTH2SS4ZBK4VOPBCn7sQ,pSmOH4a3HNNpYM82J5ycLA,"['pSmOH4a3HNNpYM82J5ycLA', 'G2okUNH-Jeks8hqJvS...","['cp7sxmJlkObOPgO8PbgXKw', 'El1_Myk6dJ2JSapIsO..."
997,zjkNgwEDnJPTm2w4Y_-M1Q,t5Ca7rn3NsjfZcpfbhRZKA,"['t5Ca7rn3NsjfZcpfbhRZKA', 'AhVvuzwWQU__CligbY...","['Yp8gbMuCXIWJWoRvkOJcGA', '0OV1nx9jjglD7R-OIx..."
998,zkNe_FrJ_DGcsZLK1x___Q,2wvN4OxbXvQIohAZVKSEWw,"['2wvN4OxbXvQIohAZVKSEWw', 'oVfTDLW0bg4VMXlSI-...","['uv5b6lgBHXIwtCjJ_c-Yvg', 'xpXRXAqO7dp3A4uuhi..."
999,zx2NkJtfSvJhid6rxvYMlg,vA5MHe9LqNQcp8k_CaFkHg,"['vA5MHe9LqNQcp8k_CaFkHg', 'ozCkVIIAhNldop4MMn...","['s7xAR7fFHh2a28E62B7tVQ', 'ozCkVIIAhNldop4MMn..."

In [ ]:
df_review.columns

Index(['user_id', 'stars', 'users_embs', 'user_embeddings'], dtype='object')

In [ ]:
def get_business_embeddings(row):
    # Percorre a lista reclist e consulta os embeddings dos negócios correspondentes no df_review
    business_embeddings = []
    for business_id in row['reclist']:
        embedding = df_review.loc[df_review['business_id'] == business_id, 'business_embeddings'].iloc[0]
        business_embeddings.append(embedding)
    
    return business_embeddings

# Cria uma nova coluna no dataframe eval_df para armazenar os embeddings dos negócios presentes na lista reclist
eval_df['business_embeddings'] = eval_df.apply(get_business_embeddings, axis=1)

KeyError: ignored